/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
[hidden] {
  display: none !important;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.icon {
  width: 1em;
  height: 1em;
}

.container {
  padding: 10px;
}

html {
  font-size: 0.9vmax;
}

body {
  font-family: "Roboto", sans-serif;
  grid-template-columns: min-content 1fr;
  background-color: #eeeeee;
  height: 100vh;
}

aside {
  height: 100vh;
  background-color: #2c3639;
  grid-template-rows: auto 1fr auto;
  -webkit-box-shadow: -2px 0px 10px 0px #000000;
  box-shadow: -2px 0px 10px 0px #000000;
  gap: 15px;
  color: #dcd7c9;
}

.logo {
  height: 3.5rem;
  margin: 10px 10px 0;
  filter: invert(51%) sepia(46%) saturate(339%) hue-rotate(344deg)
    brightness(90%) contrast(86%);
}

.library-stats {
  flex-direction: column;
  border-top: 2px solid #3f4e4f;
  border-bottom: 2px solid #3f4e4f;
  padding: 10px;
  gap: 25px;
  overflow: scroll;
}

.library-stats h2 {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
}

.library-stats p {
  border-bottom: 1px solid #3f4e4f;
  padding-bottom: 25px;
  align-items: center;
  justify-content: space-between;
}

.library-stats p:last-child {
  border-bottom: none;
}

.library-stats p span {
  padding: 10px;
  background-color: #3f4e4f;
  border-radius: 0.3rem;
  -webkit-box-shadow: inset 0px 0px 2px 0px #000000;
  box-shadow: inset 0px 0px 2px 0px #000000;
  font-weight: 600;
}

aside button {
  padding: 10px;
  border: none;
  background-color: #a27b5c;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: inherit;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

aside button img {
  filter: invert(91%) sepia(4%) saturate(553%) hue-rotate(7deg) brightness(96%)
    contrast(88%);
}

main {
  height: 100vh;
  grid-template-rows: auto 1fr;
  gap: 10px;
}

main header {
  background-color: #2c3639;
  border-radius: 0.3rem 0.3rem 0 0;
  margin: 50px 50px 0;
  padding: 10px;
  border-bottom: 2px solid #a27b5c;
  gap: 10px;
  color: #dcd7c9;
}

.search {
  font-size: 1.2rem;
  gap: 10px;
  align-items: center;
}

.search .icon {
  filter: invert(93%) sepia(16%) saturate(160%) hue-rotate(5deg) brightness(92%)
    contrast(87%);
}

.search input {
  font-size: 1rem;
  width: 30%;
  border-radius: 0.7rem;
  border: 1px solid #1d2425;
  padding: 0 10px;
  background-color: #3f4e4f;
  outline: none;
  color: #dcd7c9;
  font-weight: 600;
  -webkit-box-shadow: inset 0px 0px 3px -1px #000000;
  box-shadow: inset 0px 0px 3px -1px #000000;
}

.data-headers {
  grid-template-columns: repeat(5, minmax(50px, 2fr));
  font-weight: 500;
  gap: 25px;
  padding: 0.5em;
}

.content {
  grid-auto-rows: minmax(min-content, 150px);
  overflow: scroll;
  margin: 0 50px 50px;
  padding: 0 10px;
  gap: 10px;
  border: 1px solid hsla(184, 11%, 28%, 0.5);
  border-top: none;
  border-radius: 0 0 0.3rem 0.3rem;
}

.book {
  padding: 0.5em;
  border-bottom: 1px dotted hsla(184, 11%, 28%, 0.5);
  grid-template-rows: auto min-content;
  gap: 5px;
}

.data-list {
  grid-template-columns: repeat(5, minmax(50px, 2fr));
  font-weight: 500;
  color: #2c3639;
  gap: 25px;
}

.book-data {
  align-items: center;
}

.book-title {
  font-size: 1.2rem;
  cursor: pointer;
}

.book-unread {
  color: gray;
}

.book-readstatus {
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "status toggle";
  gap: 0.5em;
}

.book-read {
  color: forestgreen;
}

.book-publishing {
  font-style: italic;
}

.book-admin {
  justify-content: end;
}

.book-delete {
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
  gap: 0.3em;
  padding: 0.3em;
  border-radius: 0.3em;
  background: none;
  border: none;
}

.book-delete .icon {
  filter: invert(14%) sepia(52%) saturate(6933%) hue-rotate(1deg)
    brightness(86%) contrast(123%);
}

.checkbox-hidden {
  height: 0;
  width: 0;
  visibility: hidden;
  grid-area: toggle;
}

.slider-background {
  cursor: pointer;
  text-indent: -9999px;
  width: 2.5em;
  height: 0.8em;
  background: grey;
  display: block;
  border-radius: 1em;
  position: relative;
  grid-area: toggle;
}

.slider-background:after {
  content: "";
  position: absolute;
  top: 0.1em;
  left: 0.1em;
  width: 1em;
  height: 0.6em;
  background: #2c3639ee;
  border-radius: 1em;
  transition: 0.3s;
}

.checkbox-hidden:checked + .slider-background {
  background: forestgreen;
}

.checkbox-hidden:checked + .slider-background:after {
  left: calc(100% - 0.15em);
  transform: translateX(-100%);
}

.slider-background:active:after {
  width: 1.3em;
}
